<h1>Dashboard</h1>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @category_count %></span>
    Number of categories in Jungle
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @product_count %></span>
    Number of Products in Jungle
  </li>
</ul>

